{% extends "base_user.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block body_attribs %} class="signup-page access-page has-full-screen-bg"{% endblock body_attribs %}
{% block section_attribs %} class="signup-section access-section section"{% endblock section_attribs %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="form-box col-md-offset-2 col-sm-offset-0 xs-offset-0 col-xs-12 col-md-8">
                <div class="form-box-inner">
                    <h2 class="title text-center">비밀번호 초기화</h2>
                    <p class="intro text-center">새로운 비밀번호는 잊어버리시면 안됩니다.</p>
                    <div class="row">
                        <div class="form-container">
                            <form class="signup-form" action="{{ url_for('auth.password_reset_request') }}"
                                  method="post">
                                {{ form.hidden_tag() }}
                                <div class="form-group email {% if form.email.errors %} has-error {% endif %}">
                                    <label class="sr-only">이메일</label>
                                    {{ form.email(class="form-control login-password", placeholder="이메일", type="email") }}
                                    <p class="help-block">{{ form.email.errors[0] }}</p>
                                </div><!--//form-group-->
                                <div class="form-group password {% if form.password.errors %} has-error {% endif %}">
                                    <label class="sr-only" for="login-password">비밀번호</label>
                                    {{ form.password(class="form-control login-password", placeholder="비밀번호", type="password") }}
                                    <p class="help-block">{{ form.password.errors[0] }}</p>
                                </div><!--//form-group-->
                                <div class="form-group password {% if form.password2.errors %} has-error {% endif %}">
                                    <label class="sr-only" for="login-password">비밀번호 확인</label>
                                    {{ form.password2(class="form-control login-password", placeholder="비밀번호 확인", type="password") }}
                                    <p class="help-block">{{ form.password2.errors[0] }}</p>
                                </div><!--//form-group-->
                                {{ form.submit(class="btn btn-block btn-cta-primary") }}
                            </form>
                        </div>
                    </div>
                </div><!--//form-box-inner-->
            </div><!--//form-box-->
        </div><!--//row-->
    </div><!--//container-->
    </section><!--//contact-section-->
{% endblock content %}