{% extends "base_user.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block body_attribs %} class="login-page access-page has-full-screen-bg"{% endblock body_attribs %}
{% block section_attribs %} class="login-section access-section section"{% endblock section_attribs %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/lawyer.css') }}">
    <link id="theme-style" rel="stylesheet" href=" {{ url_for('static', filename='css/register-detail.css') }}">
    <link href="{{ url_for('static', filename='css/wizard.css') }}" rel="stylesheet">
{% endblock styles %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="form-box col-lg-10 col-lg-offset-1">
                <div class="form-box-inner">
                    <h2 class="title text-center">안심성형 신청하기</h2>
                    <p class="intro text-center">올바른 정보를 입력해주셔야 지켜드릴수 있습니다.</p>
                    <ul class="nav nav-tabs nav-justified">
                        <li class="disabled">
                            <a href="#home-2" data-toggle="tab" aria-expanded="false">
                                <span class="visible-xs"><i class="fa fa-pencil-square-o"></i></span>
                                <span class="hidden-xs">1. 개인정보 확인</span>
                            </a>
                        </li>
                        <li class="disabled">
                            <a href="#profile-2" data-toggle="tab" aria-expanded="false">
                                <span class="visible-xs"><i class="fa fa-stethoscope"></i></span>
                                <span class="hidden-xs">2. 안심병원 선택</span>
                            </a>
                        </li>
                        <li class="disabled">
                            <a href="#messages-2" data-toggle="tab" aria-expanded="true">
                                <span class="visible-xs"><i class="fa fa fa-university"></i></span>
                                <span class="hidden-xs">3. 안심변호사 선택</span>
                            </a>
                        </li>
                        <li class="active">
                            <a href="#settings-2" data-toggle="tab" aria-expanded="false">
                                <span class="visible-xs"><i class="fa fa-credit-card"></i></span>
                                <span class="hidden-xs">4. 결제 및 신청</span>
                            </a>
                        </li>
                    </ul>
                    <form action="{{ url_for('service.charge') }}" method="post">
                        <div class="tab-content">
                            <div class="tab-pane active" id="settings-2">
                                <div class="text-center">
                                    <h3>선택한 병원</h3>
                                    <p>{{ selected_hospital.name }}</p>
                                    <p>{{ selected_hospital.address }}</p>
                                    <h3>선택한 변호사</h3>
                                    <p>{{ selected_lawyer.name }}</p>
                                    <p>{{ selected_lawyer.address }}</p>
                                </div>
                                <div>
                                    {{ wtf.quick_form(form) }}
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <br>
            </div>
        </div>
    </div> <!-- End row -->
    </div><!--//container-->
{% endblock content %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript" src="https://service.iamport.kr/js/iamport.payment-1.1.2.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/iamport.js') }}"></script>
{% endblock scripts %}
