{% include '_header.html' %}
{% include '_navi.html' %}
{% import "_macros.html" as macros %}

<div class="login_bg">

    <div class="login_box">
        <h3>안심성형 신청하기</h3>
        <p>올바른 정보를 입력해주셔야 지켜드릴수 있습니다.</p>
        <div class="login_full">
            <div class="regi_htap">
                <ul>
                    <li><a>1.개인정보 확인</a></li>
                    <li class="on"><a>2.안심병원 선택</a></li>
                    <li><a>3.안심변호사 선택</a></li>
                    <li><a>4.결제 및 신청</a></li>
                </ul>
            </div>
            {% if selected_hospital %}
                <div class="text-center">
                    <h3>기존에 선택한 병원</h3>
                    <p>{{ selected_hospital.name }}</p>
                    <p>{{ selected_hospital.address }}</p>
                    <a href="{{ url_for('service.lawyer', hospital=selected_hospital.id) }}">
                        <div class="register_hbt_next">다음</div>
                    </a>
                    <br/><br/>
                </div>
            {% endif %}

            <div class="hospital_info_warp">
                {% for hospital in hospitals %}
                    <!-- 1 -->
                    <div class="hospital_info left w50">
                        <div class="htxt_area">
                            <a href="{{ url_for('service.lawyer', hospital=hospital.id) }}">
                                <p class="htit">{{ hospital.name }}</p></a>
                            <p class="hinfo">{{ hospital.address[7:15] }}</p>
                        </div>
                    </div>
                {% endfor %}
                <div class="text-center">
                    <div class="pagination">
                        {{ macros.pagination_widget(pagination, 'service.hospital') }}
                    </div>
                </div>
            </div>
        </div>

    </div>


</div>
{% include '_footer.html' %}
