body{
    background-color: #f5f5f5;
}

.padding-top-section{
    margin-top: 100px;
    margin-bottom: 100px;
}

.hospital-category{
    margin-top: 30px;
}

.search-filter{
    margin: 16px 0;
    display: block;
}

ul.filter-sorting{
    float: left;
    list-style: none;
    margin-top: 8px;
    margin-bottom: 4px;
}

ul.filter-sorting li{
    border-left: 1px solid #dbdbdb;
    display: inline;
    padding: 0 8px;
}

ul.filter-sorting li:first-child{
    border-left: none;
}

ul.filter-sorting li button{
    border: 0 none;
    background-color: #f5f5f5;
    padding: 0;
    font-size: smaller;
}

button.btn-filter-district{
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.21);
    border: 1px solid #dbdbdb;
    width: 160px;
    height: 40px;
    float:right;
    clear: right;
}

.glyphicon-map-marker:before{
    margin-right: 14px;
    width: 14px;
    height: 18px;
    vertical-align: middle;
}

.glyphicon-map-marker{
    margin-right: 50px;
}

.address-filter{
    float: right;
    clear: right;
}

div.hospital-list{
    background: #f5f5f5;
    border: 0;
    outline: 0;
    margin: 0;
    padding: 0;
    height: auto;
    display: block;
}

div.hospital-list ul li {
    width: 50%;
    height: 150px;
    float: left;
    margin-top: 20px;
    padding-right: 20px;
    list-style: none;
}

div.hospital-list .item-wrapper{
    width: 100%;
    height: 150px;
    padding: 5px;
    border: 1px solid #E4E4E4;
    display: table;
    position: relative;
}

div.hospital-list ul li .img-wrapper{
    width: 40%;
    height: 100%;
    display: table-cell;
    overflow: hidden;
    position: relative;
    vertical-align: middle;
}

img.hospital-image{
    width: 100%;
    max-height: 138px;
    vertical-align: middle;

}

div.hospital-list ul li .hospital-desc{
    width: 60%;
    height: 100%;
    padding: 5px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}