{% extends "admin/base.html" %}

{% block page_content %}
    <div class="page-header">
        <h1>페이지 관리</h1>
    </div>
    <div>
        <h3>승인 대기중인 안심 이벤트 관리</h3>
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                <tr>
                    <th>구분</th>
                    <th>병원</th>
                    <th>이벤트 명</th>
                    <th>시작일</th>
                    <th>기간</th>
                    <th>승인 여부</th>
                </tr>
                </thead>
                {% for event in events %}
                    <tr>
                        <td>{{ event.id }}</td>
                        <td>{{ event.hospital.name }}</td>
                        <td>{{ event.head }}</td>
                        <td>{{ moment(event.start_date).format('YYYY-MM-DD, h:mm a') }}</td>
                        <td>{{ event.term }}</td>
                        <td><a href="{{ url_for('admin.event_confirmed', id=event.id) }}">
                            <button type="button" class="btn btn-info btn-sm">승인</button></a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}