{% extends "admin/base.html" %}
{% import "_macros.html" as macros %}

{% block page_content %}
    <div class="page-header">
        <h1>서비스 관리 페이지</h1>
    </div>
    <div>
        <h3>로디언즈 상담 관리</h3>
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                <tr>
                    <th>구분</th>
                    <th>상담 신청자</th>
                    <th>신청자 이메일</th>
                    <th>신청자 전화번호</th>
                    <th>신청 내용</th>
                    <th>신청일</th>
                </tr>
                </thead>
                {% for counsel in counsels %}
                    <tr>
                        <td>{{ counsel.id }}</td>
                        <td>{{ counsel.user.username }}</td>
                        <td>{{ counsel.user.email }}</td>
                        <td>{{ counsel.user.phone_number }}</td>
                        <td>{{ counsel.body }}</td>
                        <td>{{ moment(counsel.timestamp).format('YYYY-MM-DD, h:mm a') }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="pagination container text-center">
            {{ macros.pagination_widget(pagination, 'admin.service_lawdians') }}
        </div>
    </div>
{% endblock %}