{% extends "base_hospital_event.html" %}
{% block styles %}
    {{ super() }}
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='assets/css/hospital.css')}}">
{% endblock styles %}
{% block image_class %} class="headline-bg"{% endblock image_class %}
{% block header_title %}안전하게 예뻐지자{% endblock header_title %}
{% block header_text %}
<p>전문분야는 따로 있는 </p>
<p>잘하는 곳으로 가서 예뻐지자!</p>
{% endblock header_text %}
{% block contents_title %}추천 안심 병원{% endblock contents_title %}
{% block slide_list %}
<ul class="slides">
    {% for hospital in hospitals %}
        <li class="slide slide-1">
            <div class="flex-caption container">
                <h3 class="title"><a href="#">hospital['name']</a></h3>
                <div class="meta">hospital['address']</div>
                <a class="more-link" href="#">더 알아보기 &rarr;</a>
            </div><!--//flex-caption-->
        </li>
    {% endfor %}
</ul>
{% endblock slide_list %}
{% block category_list %}
<ul>
    {% for hospital in hospitals %}
        <li>
            <div class="item-wrapper">
                <div class="img-wrapper">
                    <img src="{{ url_for('static', filename= hospital['image'] ) }}" class="hospital-image">
                </div>
                <div class="hospital-desc">
                    <h4> hospital['name'] </h4>
                    <h5>{ hospital['address'] </h5>
                    <div>
                        <button class="btn btn-default">전화상담</button>
                        <button class="







                        btn btn-default">진행중인 이벤트</button>
                    </div>
                </div>
            </div>
        </li>
    {% endfor %}
</ul>
{% endblock category_list %}
