<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en"> <!--<![endif]-->
<head>
    <title>Lawdians</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="favicon.ico">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic,900,900italic,300italic,300'
          rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300,100' rel='stylesheet' type='text/css'>
    <!-- Global CSS -->
    <link href="{{ url_for('static', filename='assets/plugins/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/plugins/font-awesome/css/font-awesome.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/plugins/flexslider/flexslider.css') }}">
    <!-- Theme CSS -->
    <link id="theme-style" rel="stylesheet" href=" {{ url_for('static', filename='assets/css/styles-3.css') }}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='assets/css/postscript.css')}}">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="blog-page">
<!-- ******HEADER****** -->
<header id="header" class="header navbar-fixed-top">
    <div class="container">
        <h1 class="logo">
            <a href="{{ url_for('index') }}"><span class="text">Lawdians</span></a>
        </h1><!--//logo-->
        <nav class="main-nav navbar-right" role="navigation">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button><!--//nav-toggle-->
            </div><!--//navbar-header-->
            <div id="navbar-collapse" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="nav-item"><a href="{{ url_for('index') }}">Home</a></li>
                    <li class="nav-item"><a href="{{ url_for('hospital') }}">안심병원</a></li>
                    <li class="nav-item"><a href="{{ url_for('lawyer') }}">안심변호사</a></li>
                    <li class="nav-item"><a href="{{ url_for('event') }}">안심이벤트</a></li>
                    <li class="nav-item dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0"
                           data-close-others="false" href="#">고객센터 <i class="fa fa-angle-down"></i></a>
                        <ul class="dropdown-menu">
                            <li class="active"><a href="{{ url_for('post_script') }}">안심후기</a></li>
                            <li><a href="{{ url_for('contact') }}">안심문의</a></li>
                        </ul>
                    </li><!--//dropdown-->
                    <li class="nav-item"><a href="{{ url_for('login') }}">로그인</a></li>
                    <li class="nav-item nav-item-cta last"><a class="btn btn-cta btn-cta-secondary"
                                                              href="{{ url_for('signup') }}">회원가입</a></li>
                </ul><!--//nav-->
            </div><!--//navabr-collapse-->
        </nav><!--//main-nav-->
    </div><!--//container-->
</header><!--//header-->
<div class="wrapper">
    <section class="featured-blog-posts section">

        <div class="flexslider blog-slider">
            <ul class="slides">
                <li class="slide slide-1">
                    <div class="flex-caption container">
                        <h3 class="title"><a href="#">신사엘 성형외과</a></h3>
                        <div class="meta">16th Oct, 2017</div>
                        <a class="more-link" href="#">Read more &rarr;</a>
                    </div><!--//flex-caption-->
                </li>
                <li class="slide slide-2">
                    <div class="flex-caption container">
                        <h3 class="title"><a href="#">얼굴지방흡입하고 3달 지났어요!!</a></h3>
                        <div class="meta">23rd Sep, 2017</div>
                        <a class="more-link" href="#">Read more &rarr;</a>
                    </div><!--//flex-caption-->
                </li>
                <li class="slide slide-3">
                    <div class="flex-caption container">
                        <h3 class="title"><a href="#">턱순이... 탈출했어요ㅎㅎ</a></h3>
                        <div class="meta">18th Aug, 2017</div>
                        <a class="more-link" href="#">Read more &rarr;</a>
                    </div><!--//flex-caption-->
                </li>
            </ul><!--//slides-->
        </div><!--//flexslider-->

    </section><!--//featured-blog-posts-->

    <!-- ******BLOG LIST****** -->
    <div class="blog container">
        <div class="row">
            <div id="blog-mansonry" class="blog-list">
                <article class="post col-md-4 col-sm-6 col-xs-12">
                    <div class="post-inner">
                        <figure class="post-thumb">
                            <a href="#"><img class="img-responsive"
                                             src="{{ url_for('static', filename='assets/images/blog/post-1-thumb.jpg') }}"
                                             alt=""/></a>
                        </figure><!--//post-thumb-->
                        <div class="content">
                            <h3 class="post-title"><a href=#">신사엘성형외과</a></h3>
                            <div class="post-entry">
                                <p>너무너무 친절하고 꼼꼼한 신사엘성형외과!!!
                                    수술도 잘되고 또 관리나 원장님 직원들의 서비스에 더 큰 감동을 받고 있는 중입니다.
                                    제 눈이 너무 작고 깊어서 원장님이 고생 많이 하셨는데도~ 웃으며 다정하고 친절히 설명해 주시고 사무적이거나 짜증내는 모습 한번 뵌 적이 없고요~
                                    직원들도 동생처럼 친구처럼 최상의 친절과 서비스를~!!!
                                    정말 성형수술허고 이렇게 큰 감동을 받을 줄은 몰랐어요~!!!
                                    신사엘성형외과!!
                                    정말 강추합니다~!!! </p>
                                <a class="read-more" href="#">Read more <i
                                        class="fa fa-long-arrow-right"></i></a>
                            </div>
                            <div class="meta">
                                <ul class="meta-list list-inline">
                                    <li class="post-time post_date date updated">16th Apr, 2017</li>
                                    <li class="post-author"> by <a href="#">김ㅇㅇ</a></li>
                                    <li class="post-comments-link">
                                        <a href="#"><i class="fa fa-comments"></i>8</a>
                                    </li>
                                </ul><!--//meta-list-->
                            </div><!--meta-->
                        </div><!--//content-->
                    </div><!--//post-inner-->
                </article><!--//post-->

                <article class="post col-md-4 col-sm-6 col-xs-12">
                    <div class="post-inner">
                        <figure class="post-thumb">
                            <a href="#"><img class="img-responsive"
                                             src="{{ url_for('static', filename='assets/images/blog/post-2-thumb.jpg') }}"
                                             alt=""/></a>
                        </figure><!--//post-thumb-->
                        <div class="content">
                            <h3 class="post-title"><a href="#">얼굴지방흡입하고 3달 지났어요!!</a></h3>
                            <div class="post-entry">
                                <p>얼굴지방흡입하고 3달지났어요!!
                                    몸이랑은 진짜 완전히 다른 거 같아요 ㅋㅋ
                                    뭐 회복할것도 없고 실밥제거도 안하고 멍붓기도 없고
                                    지금은 얼굴 얼얼한 느낌도 없고 감각도 다 돌아온것 같아요!
                                    진짜 얼굴까지 흡입하고 나니까 살 완전 많이뺀 독한 여자가 되었네요 ㅋㅋ
                                    다들 어떻게 그렇게 뺏냐며 ㅋㅋ
                                    요즘은 그냥 지방흡입했다고 말해요 ㅋㅋㅋㅋ</p>
                                <a class="read-more" href="#">Read more <i
                                        class="fa fa-long-arrow-right"></i></a>
                            </div>
                            <div class="meta">
                                <ul class="meta-list list-inline">
                                    <li class="post-time post_date date updated">23rd Sep, 2017</li>
                                    <li class="post-author"> by <a href="#">이ㅇㅇ</a></li>
                                    <li class="post-comments-link">
                                        <a href="#"><i class="fa fa-comments"></i>3</a>
                                    </li>
                                </ul><!--//meta-list-->
                            </div><!--meta-->
                        </div><!--//content-->
                    </div><!--//post-inner-->
                </article><!--//post-->

                <article class="post col-md-4 col-sm-6 col-xs-12">
                    <div class="post-inner">
                        <figure class="post-thumb">
                            <a href="#"><img class="img-responsive"
                                             src="{{ url_for('static', filename='assets/images/blog/post-3-thumb.jpg') }}"
                                             alt=""/></a>
                        </figure><!--//post-thumb-->
                        <div class="content">
                            <h3 class="post-title"><a href="#">턱순이... 탈출했어요ㅎㅎ</a></h3>
                            <div class="post-entry">
                                <p>턱순이...어릴때부터 별명이자 콤플렉스였었는데 드디어 탈출했어욤.
                                    지금은 수술한지 6개월정도 지났는데 아는 친구들만 알지 처음 보는 사람은 전혀 모르더라고요.ㅎㅎㅎ
                                    뼈수술은 위험하기도하고 금액도 비싸다는 생각에 정말 신중하게 강남에 유명한 병원은 다 가보고 상담만 한달 내내 받으러 다녔던거 같아요. 발품도 많이
                                    팔고 정말 많이 신중하게 고민해서 받은 수술인데요. 지금은 넘넘 만족하고 있어요~~!^^
                                </p>
                                <a class="read-more" href="#">Read more <i
                                        class="fa fa-long-arrow-right"></i></a>
                            </div>
                            <div class="meta">
                                <ul class="meta-list list-inline">
                                    <li class="post-time post_date date updated">18th Aug, 2017</li>
                                    <li class="post-author"> by <a href="#">정ㅇㅇ</a></li>
                                    <li class="post-comments-link">
                                        <a href="#"><i class="fa fa-comments"></i>2</a>
                                    </li>
                                </ul><!--//meta-list-->
                            </div><!--meta-->
                        </div><!--//content-->
                    </div><!--//post-inner-->
                </article><!--//post-->

                <article class="post col-md-4 col-sm-6 col-xs-12">
                    <div class="post-inner">
                        <figure class="post-thumb">
                            <a href="#"><img class="img-responsive"
                                             src="{{ url_for('static', filename='assets/images/blog/post-4-thumb.jpg') }}"
                                             alt=""/></a>
                        </figure><!--//post-thumb-->
                        <div class="content">
                            <h3 class="post-title"><a href="#">양악한지 5개월 차에용!</a></h3>
                            <div class="post-entry">
                                <p>비절개 눈매교정, 튜얼트임, 양악한지 5개월차에용~ 선수술 후교정이라 아직 교정중이긴한데 그래도 얼굴 이미랑 라인이 확실히 많이 달라져서 만족하는중이에요
                                    ㅋㅋㅋ
                                    제가한 병원에서는 눈전문의 원장님과 윤곽, 양악 전문의 원장님이 따로계셔서 전문적으로 수술 받을수가 있었구 수술후에 고주파관리(붓기빠지는데 도움이 많이
                                    된다구 하네요) 붓기주사,붓기레이져 등등 많은 관리를 해주셔서 큰 도움이 되었어요 ㅋㅋㅋ
                                    트임 많이 붙냐는 질문이 많은데 거의 붙지않구 원장님께서 틀때는 확실히 터주시더라구요~ 그래서 유지 잘되고 있어요!</p>
                                <a class="read-more" href="#">Read more <i
                                        class="fa fa-long-arrow-right"></i></a>
                            </div>
                            <div class="meta">
                                <ul class="meta-list list-inline">
                                    <li class="post-time post_date date updated">12th April, 2017</li>
                                    <li class="post-author"> by <a href="#">구ㅇㅇ</a></li>
                                    <li class="post-comments-link">
                                        <a href="#"><i class="fa fa-comments"></i>4</a>
                                    </li>
                                </ul><!--//meta-list-->
                            </div><!--meta-->
                        </div><!--//content-->
                    </div><!--//post-inner-->
                </article><!--//post-->

                <article class="post col-md-4 col-sm-6 col-xs-12">
                    <div class="post-inner">
                        <figure class="post-thumb">
                            <a href="#"><img class="img-responsive"
                                             src="{{ url_for('static', filename='assets/images/blog/post-5-thumb.jpg') }}"
                                             alt=""/></a>
                        </figure><!--//post-thumb-->
                        <div class="content">
                            <h3 class="post-title"><a href="#">다빈치 성형외과</a></h3>
                            <div class="post-entry">
                                <p>비절개 눈매교정, 튜얼트임, 양악한지 5개월차에용~ 선수술 후교정이라 아직 교정중이긴한데 그래도 얼굴 이미랑 라인이 확실히 많이 달라져서 만족하는중이에요
                                    ㅋㅋㅋ
                                    제가한 병원에서는 눈전문의 원장님과 윤곽, 양악 전문의 원장님이 따로계셔서 전문적으로 수술 받을수가 있었구 수술후에 고주파관리(붓기빠지는데 도움이 많이
                                    된다구 하네요) 붓기주사,붓기레이져 등등 많은 관리를 해주셔서 큰 도움이 되었어요 ㅋㅋㅋ
                                    트임 많이 붙냐는 질문이 많은데 거의 붙지않구 원장님께서 틀때는 확실히 터주시더라구요~ 그래서 유지 잘되고 있어요!</p>
                                <a class="read-more" href="#">Read more <i
                                        class="fa fa-long-arrow-right"></i></a>
                            </div>
                            <div class="meta">
                                <ul class="meta-list list-inline">
                                    <li class="post-time post_date date updated">3th April, 2017</li>
                                    <li class="post-author"> by <a href="#">고ㅇㅇ</a></li>
                                    <li class="post-comments-link">
                                        <a href="#"><i class="fa fa-comments"></i>1</a>
                                    </li>
                                </ul><!--//meta-list-->
                            </div><!--meta-->
                        </div><!--//content-->
                    </div><!--//post-inner-->
                </article><!--//post-->

            </div><!--//blog-list-->
        </div><!--//row-->
        <div class="pagination-container text-center">
            <ul class="pagination">
                <li class="disabled"><a href="#">&laquo;</a></li>
                <li class="active"><a href="#">1<span class="sr-only">(current)</span></a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">&raquo;</a></li>
            </ul><!--//pagination-->
        </div><!--//pagination-container-->
    </div><!--//blog-->
</div><!--//wrapper-->

<!-- ******FOOTER****** -->
<footer class="footer">
    <div class="footer-content">
        <div class="container">
            <div class="row">
                <div class="footer-col links col-md-2 col-sm-4 col-xs-12">
                    <div class="footer-col-inner">
                        <h3 class="title">About us</h3>
                        <ul class="list-unstyled">
                            <li><a href="#"><i class="fa fa-caret-right"></i>안심병원</a></li>
                            <li><a href="#"><i class="fa fa-caret-right"></i>안심변호사</a></li>
                            <li><a href="#"><i class="fa fa-caret-right"></i>안심이벤트</a></li>
                            <li><a href="#"><i class="fa fa-caret-right"></i>안심후기</a></li>
                            <li><a href="#"><i class="fa fa-caret-right"></i>안심문의</a></li>
                        </ul>
                    </div><!--//footer-col-inner-->
                </div><!--//foooter-col-->
                <div class="footer-col links col-md-2 col-sm-4 col-xs-12">
                    <div class="footer-col-inner">
                        <h3 class="title">Product</h3>
                        <ul class="list-unstyled">
                            <li><a href="#"><i class="fa fa-caret-right"></i>안심병원</a></li>
                            <li><a href="#"><i class="fa fa-caret-right"></i>안심변호사</a></li>
                            <li><a href="#"><i class="fa fa-caret-right"></i>안심이벤트</a></li>
                            <li><a href="#"><i class="fa fa-caret-right"></i>안심후기</a></li>
                            <li><a href="#"><i class="fa fa-caret-right"></i>안심문의</a></li>
                        </ul>
                    </div><!--//footer-col-inner-->
                </div><!--//foooter-col-->
                <div class="footer-col links col-md-2 col-sm-4 col-xs-12 sm-break">

                </div><!--//foooter-col-->
                <div class="footer-col contact col-xs-12 col-md-6">
                    <div class="footer-col-inner">
                        <h3 class="title">Contact us</h3>
                        <p class="adr clearfix">
                            <i class="fa fa-map-marker pull-left"></i>
                            <span class="adr-group pull-left">
                                    <span class="street-address">서울 구로구 </span><br>
                                    <span class="region">디지털로32가길 16</span><br>
                                    <span class="postal-code">1002A호</span><br>
                                    <span class="country-name">Korea</span>
                                </span>
                        </p>
                        <p class="tel"><i class="fa fa-phone"></i>070-4319-0911</p>
                        <p class="email"><i class="fa fa-envelope-o"></i><a href="#">help@lawdians.com</a></p>
                    </div><!--//footer-col-inner-->
                </div><!--//contact-->
                <div class="clearfix"></div>
            </div><!--//row-->
        </div><!--//container-->
    </div><!--//footer-content-->
    <div class="bottom-bar">
        <div class="container">
            <small class="copyright">Copyright @ <a href="#" target="_blank">Lawdians</a></small>
        </div><!--//container-->
    </div><!--//bottom-bar-->
</footer><!--//footer-->

<!-- Video Modal -->
<div class="modal modal-video" id="modal-video" tabindex="-1" role="dialog" aria-labelledby="videoModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 id="videoModalLabel" class="modal-title sr-only">Video Tour</h4>
            </div>
            <div class="modal-body">
                <div class="video-container">
                    <iframe src="//player.vimeo.com/video/28872840?color=ffffff&amp;wmode=transparent" width="720"
                            height="405" frameborder="0" webkitallowfullscreen mozallowfullscreen
                            allowfullscreen></iframe>
                </div><!--//video-container-->
            </div><!--//modal-body-->
        </div><!--//modal-content-->
    </div><!--//modal-dialog-->
</div><!--//modal-->

<!-- Javascript -->
<script type="text/javascript" src="{{ url_for('static', filename='assets/plugins/jquery-1.12.3.min.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('static', filename='assets/plugins/bootstrap/js/bootstrap.min.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('static', filename='assets/plugins/bootstrap-hover-dropdown.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='assets/plugins/back-to-top.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('static', filename='assets/plugins/jquery-placeholder/jquery.placeholder.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('static', filename='assets/plugins/FitVids/jquery.fitvids.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('static', filename='assets/plugins/flexslider/jquery.flexslider-min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='assets/js/main.js') }}"></script>

<!-- blog page specific js starts -->
<script type="text/javascript"
        src="{{ url_for('static', filename='assets/plugins/imagesloaded/imagesloaded.pkgd.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='assets/plugins/masonry.pkgd.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='assets/js/blog.js') }}"></script>
<!-- blog page specific js ends -->


</body>
</html> 

