{% extends "base_user.html" %}
{% block body_attribs %} class="login-page access-page has-full-screen-bg"{% endblock body_attribs %}
{% block section_attribs %} class="login-section access-section section"{% endblock section_attribs %}
{% block section_content %}
<h2 class="title text-center">로디언즈 로그인</h2>
{% endblock section_content %}
{% block form %}
<form class="login-form">
    <div class="form-group email">
        <label class="sr-only" for="login-email">Email of username</label>
        <input id="login-email" type="email" class="form-control login-email"
               placeholder="Email or username">
    </div><!--//form-group-->
    <div class="form-group password">
        <label class="sr-only" for="login-password">Password</label>
        <input id="login-password" type="password" class="form-control login-password"
               placeholder="Password">
        <p class="forgot-password"><a href="{{ url_for('reset_password') }}">비밀번호를 잊어버리셨나요?</a></p>
    </div><!--//form-group-->
    <button type="submit" class="btn btn-block btn-cta-primary">Log in</button>
    <div class="checkbox remember">
        <label>
            <input type="checkbox"> 계정 기억하기
        </label>
    </div><!--//checkbox-->
    <p class="lead">아직 계정이 없으신가요? <br/><a class="signup-link"
                                          href="{{ url_for('signup') }}">회원가입하기</a></p>
</form>
{% endblock form %}
{% block social_btns %}
<ul class="list-unstyled social-login">
    <li>
        <button class="facebook-btn btn" type="button"><i class="fa fa-facebook"></i>Log
            in with Facebook
        </button>
    </li>
    <li>
        <button class="google-btn btn" type="button"><i class="fa fa-google-plus"></i>Log
            in with Google
        </button>
    </li>
</ul>
{% endblock social_btns %}
