{% extends "base_user.html" %}
{% block body_attribs %} class="signup-page access-page has-full-screen-bg"{% endblock body_attribs %}
{% block section_attribs %} class="signup-section access-section section"{% endblock section_attribs %}

{% block section_content %}
    <h2 class="title text-center">회원가입하기</h2>
    <p class="intro text-center">3분밖에 소요 안됩니다!</p>
{% endblock section_content %}

{% block form %}
    <form class="signup-form">
        <div class="form-group email">
            <label class="sr-only" for="signup-email">Your email</label>
            <input id="signup-email" type="email" class="form-control login-email"
                   placeholder="Your email">
        </div><!--//form-group-->
        <div class="form-group password">
            <label class="sr-only" for="signup-password">Your password</label>
            <input id="signup-password" type="password" class="form-control login-password"
                   placeholder="Password">
        </div><!--//form-group-->
        <button type="submit" class="btn btn-block btn-cta-primary">회원가입하기</button>
        <p class="note">가입을 하시게 되시면, 저희의 서비스와 보안정책에 동의하신것으로 간주합니다.</p>
        <p class="lead">계정이 있으신가요? <a class="login-link" id="login-link" href="{{ url_for('login') }}">로그인</a>
        </p>
    </form>
{% endblock form %}

{% block social_btns %}
    <ul class="list-unstyled social-login">
        <li>
            <button class="facebook-btn btn" type="button"><i class="fa fa-facebook"></i>Sign
                up with Facebook
            </button>
        </li>
        <li>
            <div data-onsuccess="onSingIn">
                <button class="google-btn btn" type="button" data-onsuccess="google_btn_clicked"><i
                        class="fa fa-google-plus"></i>Sign
                    up with Google
                </button>
            </div>
        </li>
        <li>
            <div class="g-signin2" data-onsuccess="onSignIn">구글 로그인</div>
        </li>
    </ul>
    <p class="note">걱정마세요, 당신의 동의없이 저희는 그 어떠한 정보도 올리지 않겠습니다.</p>
{% endblock social_btns %}

{% block scripts %}
    {{ super() }}
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script>
        function google_btn_clicked() {
            alert("구글 버튼을 누르셨습니다.");
        }
    </script>
{% endblock scripts %}