{% extends "base.html" %}
{% block styles %}
    {{ super() }}
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/hospital.css') }}">
{% endblock styles %}
{% block body_attribs %}class="about-page"{% endblock body_attribs %}
{% block content %}

    <div{% block image_class %}{% endblock image_class %}>
    </div><!--//headline-bg-->


    <!-- ******Description Section****** -->
    <section class="story-section section section-on-bg">
        <h2 class="title container text-center">{% block header_title %}{% endblock header_title %}</h2>
        <div class="story-container container text-center">
            <div class="story-container-inner">
                <div class="about text-center">
                    {% block header_text %}{% endblock header_text %}
                </div><!--//about-->
            </div><!--//story-container-->
        </div><!--//container-->
    </section><!--//story-section-->

    <section class="featured-blog-posts section padding-top-section">
        <h2 class="title text-center">{% block contents_title %}{% endblock contents_title %}</h2>
        <div class="flexslider blog-slider">
            {% block slide_list %}
            {% endblock slide_list %}
        </div><!--//flexslider-->
    </section><!--//featured-blog-posts-->

    <section class="section padding-top-section">
        <h2 class="title text-center">카테고리</h2>
        <div class="container">
            <ul class="hospital-category2">
                <li><button id="temp" class="category" name="all">전체</button></li>
                <li><a role="button" class="category" name="fillar">쁘띠시술</a></li>
                <li><a role="button" class="category" name="skin">피부</a></li>
                <li><a role="button" class="category" name="diet">다이어트</a></li>
                <li><a role="button" class="category" name="lifting">리프</a></li>
                <li><a role="button" class="category" name="tatoo">반영구화장</a></li>
                <li><a role="button" class="category" name="hairtransplant">헤어라인</a></li>
                <li><a role="button" class="category" name="eye">눈</a></li>
                <li><a role="button" class="category" name="nose">코</a></li>
                <li><a role="button" class="category" name="lip">치아/입</a></li>
                <li><a role="button" class="category" name="fatgrafting">지방이식</a></li>
                <li><a role="button" class="category" name="breast">가슴</a></li>
                <li><a role="button" class="category" name="facialcontouring">안면윤곽</a></li>
                <li><a role="button" class="category" name="forehead">이마</a></li>
                <li><a role="button" class="category" name="jaw">양악</a></li>
                <li><a role="button" class="category" name="etc">기타</a></li>
            </ul>
        </div>
        <div class="search-filter clearfix">
            <div class="col-md-6">
                <ul class="filter-sorting">
                    <li>
                        <button class="on" name="latest">최신순</button>
                    </li>
                    <li>
                        <button name="popular">인기순</button>
                    </li>
                    <li>
                        <button name="click">조회순</button>
                    </li>
                    <li>
                        <button name="review">후기순</button>
                    </li>
                </ul>
            </div>
            <div class="col-md-6">
                <div class="dropdown address-filter">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"
                            data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="true">
                        <span class="glyphicon glyphicon-map-marker">전체지역</span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a href="#">전체</a></li>
                        <li><a href="#">강남|서초|송파</a></li>
                        <li><a href="#">강동|성동|광진</a></li>
                        <li><a href="#">마포|중구|서대문</a></li>
                        <li><a href="#">동작|관악|영등포</a></li>
                        <li><a href="#">양천|강서</a></li>
                    </ul>
                </div>
            </div>
        </div><!--search filter-->
        <div id="hospital">
            <div class="hospital-list clearfix">
                {% block category_list %}
                {% endblock category_list %}
            </div>
            <div class="container text-center">
                <div class="pagination">
                    {% block pagination %}
                    {% endblock pagination %}
                </div>
            </div>
        </div>

    </section>
    <!-- hospital list -->
{% endblock content %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript">




        $('#hospital-collapse .collapse').on('show.bs.collapse', function (e) {
            $(this).closest('li').css(
                {'transition': 'height 350ms ease', 'height': '500'});
            var actives = $('#hospital-collapse').find('.in, .collapsing');
            actives.each( function (index, element) {
                $(element).collapse('hide');
            })
        })
        $('#hospital-collapse .collapse').on('hide.bs.collapse', function (e) {
            $(this).parent('li').css(
                {'transition': 'height 350ms ease', 'height': '150'});
        })





        $('#temp').on('click', function() {
            alert("안녕(테스트용)");
        });





        $('.hospital-category2').on('click', 'a', function() {
            alert('ajax 시도');
            var category = $(this).attr('name');
            var json = {'category': category};
            alert('category 변수 생성, \ncategory 안에 있는 데이터는 ' + category);
            alert('ajax 변수 생성 시도');
            var ajax = $.ajax({
                url: "{{ url_for('main.hospital_category') }}",
                type: "POST",
                dataType: "json",
                contentType: 'application/json',
                data: JSON.stringify(json)
            });
            alert('ajax 변수 생성 성공');
            ajax.done(function(data) {
                alert('ajax 성공');
                data = data.data;
                $('#hospital').html(data);
            });
            ajax.fail(function(error) {
                alert('실패');
                console.log(error);
            });
        });



        alert('병원페이지에 들어왔닫');



    </script>
{% endblock scripts %}