{% extends "base.html" %}

{% block styles %}
    {{ super() }}
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/hospital.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
    {{ moment.include_jquery() }}
    {{ moment.include_moment() }}
{% endblock styles %}
          {% block body_attribs %}class="about-page"{% endblock body_attribs %}
{% block content %}
    <div class="headline-bg"></div><!--//headline-bg-->
    <!-- ******Description Section****** -->
    <section class="story-section section section-on-bg">
        <h2 class="title container text-center">
            마이 페이지
        </h2>
    </section><!--//story-section-->
    <div class="container">
        <div class="row row-offcanvas row-offcanvas-right" style="margin-top: 200px">
            <div class="col-xs-12 col-sm-9">
                <p class="pull-right visible-xs">
                    <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">메뉴 열기</button>
                </p>
                {% block page_content %}{% endblock %}
            </div>
            <div class="col-xs-6 col-sm-3 sidebar-offcanvas">
                <div class="list-group">
                    <a href="{{ url_for('main.my_page_service') }}" class="list-group-item active">안심 성형 서비스</a>
                    <a href="{{ url_for('main.my_page_counsel') }}" class="list-group-item">안심 변호사 문의</a>
                    <a href="{{ url_for('main.my_page_event') }}" class="list-group-item">안심 이벤트 신청</a>
                    <a href="#" class="list-group-item disabled">안심 후기 내역</a>
                    <a href="{{ url_for('main.my_page_auction') }}" class="list-group-item">역견적 신청 내역</a>
                    <a href="{{ url_for('main.my_page_point') }}" class="list-group-item">포인트 내역</a>
                    <a href="{{ url_for('main.my_page_profile') }}" class="list-group-item">정보 관리</a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block scripts %}
    {{ super() }}
    <script>
        $(document).ready(function () {
            $('[data-toggle="offcanvas"]').click(function () {
                $('.row-offcanvas').toggleClass('active')
            });
        });
    </script>
{% endblock %}