{% include '_header.html' %}
{% include '_navi.html' %}
{% import "_macros.html" as macros %}

<div class="sub_visual">
    <p class="svisual_tit">로디언즈 <b>안심병원</b></p>
    <p class="svisual_txt">하고싶은 성형분야를 전문으로 하는 안심병원을 골라보세요.<br/>원하는 부위, 전문병원, 투명한 가격비교로<br/>로디언즈를 통해 안심하고 예뻐질 수 있습니다.</p>
</div>


<div class="hospital_bg">
    <div class="content">
        <h3 class="bl01 black">로디언즈 <b>안심병원</b></h3>
        <p class="sub_txt">로디언즈가 엄선한 추천 안심병원을 만나보세요</p>

        <div class="hospital_warp">
            <ul class="hospital">
                {% for ad in ads %}
                    <li>
                        <img src="../static/img/sub/hospital_noimg.jpg"/>
                        <dl>
                            <dd class="htit">{{ ad.hospital.name }}</dd>
                            <dt class="hinfo">{{ ad.hospital.address }}</dt>
                        </dl>
                        <div class="bt_blue01"><a href="{{ url_for('service.register', hospital=ad.hospital.id) }}">안심성형
                            신청하기</a></div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>


<div class="hospital_category" id="hospital_category">
    <div class="content">
        <h3 class="bl01">카테고리별 보기</h3>
        <p class="sub_txt">원하는 성형부위를 카테고리로 간편하게 찾아보세요</p>

        <div class="h_list">
            <ul>
                <li><a role="button" class="category on" name="all" id="all">전체</a></li>
                <li><a role="button" class="category" name="fillar" id="fillar">쁘띠시술</a></li>
                <li><a role="button" class="category" name="skin" id="skin">피부</a></li>
                <li><a role="button" class="category" name="diet" id="diet">다이어트</a></li>
                <li><a role="button" class="category" name="lifting" id="lifting">리프</a></li>
                <li><a role="button" class="category" name="tatoo" id="tatoo">반영구화장</a></li>
                <li><a role="button" class="category" name="hairtransplant" id="hairtransplant">헤어라인</a></li>
                <li><a role="button" class="category" name="eye" id="eye">눈</a></li>
                <li><a role="button" class="category" name="nose" id="nose">코</a></li>
                <li><a role="button" class="category" name="lip" id="lip">치아/입</a></li>
                <li><a role="button" class="category" name="fatgrafting" id="fatgrafting">지방이식</a></li>
                <li><a role="button" class="category" name="breast" id="breast">가슴</a></li>
                <li><a role="button" class="category" name="facialcontouring" id="facialcontouring">안면윤곽</a></li>
                <li><a role="button" class="category" name="forehead" id="forehead">이마</a></li>
                <li><a role="button" class="category" name="jaw" id="jaw">양악</a></li>
                <li><a role="button" class="category" name="etc" id="etc">기타</a></li>
            </ul>
        </div>

        <div class="select">

        </div>
        <input type="text" onkeyup="liveSearch(this.value)">
        <div id="hospital_info_warp">
            <div class="hospital_info_warp">
                {% for hospital in hospitals %}
                    <div class="hospital_info w50">
                        <div class="medal">
                            {% if hospital.weight==1 %}
                                <img src="../static/img/sub/medal02.png"/>
                            {% elif hospital.weight==2 %}
                                <img src="../static/img/sub/medal01.png"/>
                            {% elif hospital.weight==3 %}
                                <img src="../static/img/sub/medal01.png"/>
                                <img src="../static/img/sub/medal02.png"/>
                            {% endif %}
                        </div>
                        <img src="../static/img/sub/hospital_noimg.jpg"/>
                        <div class="htxt_area">
                            <p class="hintro">{{ hospital.intro }}</p>
                            <p class="htit">{{ hospital.name }}</p>
                            <p class="hinfo">{{ hospital.address }}</p>
                            <p class="p_no">조회수 <span>{{ hospital.hits }}</span> &nbsp; 이벤트
                                <span>{{ hospital.events.count() }}</span> &nbsp; 후기 <span>0</span></p>
                            <div class="hbt_warp">
                                <div class="bt_blue03">상세보기</div>
                                <a href="{{ url_for('service.register', hospital=hospital.id) }}">
                                    <div class="bt_blue04">안심성형신청</div>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <!-- 병원리스트 -->
            <div class="container text-center">
                <div class="pagination">
                    {{ macros.pagination_widget(pagination, 'main.hospital') }}
                </div>
            </div>
        </div>
    </div>
</div>


<div class="hospital_category02">
    <div class="content3">
        <h3 class="bl01">역견적신청</h3>
        <form action="{{ url_for('main.hospital') }}" method="post">
            {{ form.hidden_tag() }}
            <div class="hcategory02_warp">
                <dl>
                    <dd>분류</dd>
                    <dt>
                        {{ form.category(class="hcategory02_list") }}
                    </dt>
                </dl>
                <dl>
                    <dd>세부내용</dd>
                    <dt>{{ form.body(class='hcategory02_txt', rows='10',cols='80') }}</dt>
                    <p class="help-block">{{ form.body.errors[0] }}</p>
                </dl>
            </div>
            {{ form.submit(class="bt_blue01 mgT30") }}
        </form>

    </div>
</div>


{% include '_footer.html' %}
{% if scroll %}
    <script type="text/javascript">
        document.getElementById('{{ scroll }}').scrollIntoView();
        jQuery('.category').removeClass('on');
        var button = document.getElementById('{{ category }}');
        button.className += " on";
    </script>
{% endif %}
<script type="text/javascript">
    $('.h_list').on('click', 'a', function () {
        var category = $(this).attr('name');
        var json = {'category': category};
        var ajax = $.ajax({
            url: "{{ url_for('main.hospital_category') }}",
            type: "POST",
            dataType: "json",
            contentType: 'application/json',
            data: JSON.stringify(json)
        });
        ajax.done(function (data) {
            jQuery('.category').removeClass('on');
            var button = document.getElementById(category);
            button.className += " on";
            data = data.data;
            $('#hospital_info_warp').html(data);
        });
        ajax.fail(function (error) {
            alert('실패');
            console.log(error);
        });
    });

    function liveSearch(value) {
        value = value.trim(); // remove any spaces around the text
        if (value != "") { // don't make requests with an empty string
            $.ajax({
                url: "{{ url_for('main.search_hospital') }}",
                data: {searchText: value},
                dataType: "html",
                success: function (data) {
                    $("#hospital_info_warp").html(data);
                }

            });
        }
    }
</script>