{% import "_macros.html" as macros %}
<div class="hospital_info_warp">
    {% for hospital in hospitals %}
        <div class="hospital_info w50">
            <div class="medal">
                {% if hospital.weight==1 %}
                    <img src="../static/img/sub/medal02.png"/>
                {% elif hospital.weight==2 %}
                    <img src="../static/img/sub/medal01.png"/>
                {% elif hospital.weight==3 %}
                    <img src="../static/img/sub/medal01.png"/>
                    <img src="../static/img/sub/medal02.png"/>
                {% endif %}
            </div>
            <img src="../static/img/sub/hospital_noimg.jpg"/>
            <div class="htxt_area">
                <p class="hintro">{{ hospital.intro }}</p>
                <p class="htit">{{ hospital.name }}</p>
                <p class="hinfo">{{ hospital.address }}</p>
                <p class="p_no">조회수 <span>{{ hospital.hits }}</span> &nbsp; 이벤트
                    <span>{{ hospital.events.count() }}</span> &nbsp; 후기 <span>0</span></p>
                <div class="hbt_warp">
                    <div class="bt_blue03">상세보기</div>
                    <a href="{{ url_for('service.register', hospital=hospital.id) }}">
                        <div class="bt_blue04">안심성형신청</div>
                    </a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
<div class="container text-center">
    <div class="pagination">
        {{ macros.pagination_widget(pagination, 'main.hospital') }}
    </div>
</div>
