{% include '_header.html' %}
{% include '_navi.html' %}

<div class="main_img">
    <ul class="mainimg">
        <li class="main01"></li>
    </ul>
    <div class="content">
        <div class="mainimg_txt">
            <p class="main_subtit">안&nbsp; 심&nbsp; 뷰&nbsp; 티&nbsp; 서&nbsp; 비&nbsp; 스 <b>로 디 언 즈</b></p>
            <p class="main_stit">안전하게 예뻐지자!</p>
            <p class="txt">로디언즈는 안심하고 성형수술을 <span class="block420"><br/></span>받을 수 있도록 <span
                    class="none420"><br/></span>고객에게 안심병원과 <span class="block420"><br/></span>안심변호사를 연계해주는 서비스입니다.</p>
            <div class="miainimg_bt"><a
                    href="https://docs.google.com/forms/d/e/1FAIpQLSeop0MJ0P4eXqvFwDfv0Mw0DAE4kFz99_anmHUrIskwNzV2Tw/viewform">신규
                가입자</a></div>
            <div class="miainimg_bt"><a
                    href="https://docs.google.com/forms/d/e/1FAIpQLSeaPD8VlqmoCBJ7HASNe4IQPVDpwggUG4QyEsllfRSFPEb5tg/viewform">기존
                가입자</a></div>
        </div>
    </div>
</div>
<!--
<div class="banner">
    <div class="content">
        <ul>
            <li class="bn01"><a href=""></a></li>
            <li class="bn02"><a href=""></a></li>
            <li class="bn03"><a href=""></a></li>
            <li class="bn04"><a href=""></a></li>
            <li class="bn05"><a href=""></a></li>
            <li class="bn06"><a href=""></a></li>
            <li class="bn07"><a href=""></a></li>
            <li class="bn08"><a href=""></a></li>
            <li class="bn09"><a href=""></a></li>
        </ul>
    </div>
</div>
-->
<div class="section01">
    <div class="content">
        <div class="left w50">
            <p class="stit">안심 뷰티 서비스 로디언즈</p>
            <h2 class="main"><b>왜</b> 로디언즈일까요?</h2>
            <p class="txt">로디언즈는 부작용을 걱정하지 않고, 안심하고 성형수술을 받을 수 있도록 소비자에게 로디언즈가 엄선한 안심병원과 안심변호사를 연계해주는 서비스입니다.</p>
            <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#myModal">서비스 소개</button>
        </div>
        <div class="right w50">
            <iframe width="560" height="314" src="https://www.youtube.com/embed/JayrPkBkL8c" frameborder="0"
                    allowfullscreen></iframe>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">로디언즈 소개</h4>
            </div>
            <div class="modal-body">
                <img src="../static/img/main/lawdians_service_description.png">
            </div>
        </div>
    </div>
</div>


<div class="section01_1">
    <div class="content">
        <dl class="icon01">
            <dd class="icon01"></dd>
            <dt><span>서비스 선택</span>한번에 전문병원을 둘러보고 <br/>적합한 병원을 선택할 수 있습니다</dt>
        </dl>
        <dl class="icon02">
            <dd class="icon02"></dd>
            <dt><span>소비자정보 등록</span>성형할 소비자의 정보만 등록하면 <br/>누구나 안심성형을 할 수 있습니다</dt>
        </dl>
        <dl class="icon03">
            <dd class="icon03"></dd>
            <dt><span>안심변호사 선택</span>성형 부작용이 나타나면 로디언즈의 <br/>안심변호사에게 맡겨주세요!</dt>
        </dl>
        <dl class="icon04">
            <dd class="icon04"></dd>
            <dt><span>안전하게 안심성형</span>간단한 절차로 안전하게, <br/>안심병원에서 안심성형하면 끝!</dt>
        </dl>
    </div>
</div>

<!--
<div class="section02">
    <div class="content">
        <p class="stit">로디언즈 안심 병원안내</p>
        <h2 class="main2">로디언즈 <b>안심병원</b></h2>
        <p class="txt">원하는 부위, 잘하는 병원, 투명한 가격비교로 로디언즈에서 안심하고 안전하게 예뻐지자!</p>

        <div class="hospital_warp">
            <ul class="hospital">
                {% for hospital in hospitals %}
                    <li>
                        <img src="../static/img/main/hospital01.jpg"/>
                        <dl>
                            <dd class="htit">{{ hospital.name }}</dd>
                            <dt class="hinfo">{{ hospital.address }}</dt>
                        </dl>
                        <div class="bt_blue01"><a
                                href="{{ url_for('service.register', hospital=hospital.id) }}">안심성형신청</a></div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>


<div class="section03">
    <div class="content">
        <p class="stit">로디언즈 안심 변호사안내</p>
        <h2 class="main2">로디언즈 <b>안심변호사</b></h2>
        <p class="txt">원하는 부위, 잘하는 병원, 투명한 가격비교로 로디언즈에서 안심하고 안전하게 예뻐지자!</p>

        <div class="lawyer">
            <div class="lawyer_main" id="lawyer_main">
                <div class="lawyer_mainimg"><img src="../static/img/main/law0{{ lawyer.id }}.jpg"/></div>
                <div class="layer_txt">
                    <p class="ltxt_tit"><b>{{ lawyer.name }}</b> 변호사</p>
                    <p class="ltxt_address">{{ lawyer.address }} / {{ lawyer.phone }}</p>
                    <p class="ltxt_info">
                        {{ lawyer.description|safe }}
                    </p>
                    <div class="lawbt">
                        <a href="{{ url_for('service.counsel', lawyer_id=lawyer.id) }}">
                            <div class="bt_blue02">바로상담받기</div>
                        </a>
                        <a href="{{ url_for('service.register', lawyer=lawyer.id) }}">
                            <div class="bt_blue01">서비스신청</div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="lawyer_thum" id="lawyer_thum">
                <div class="thum"><a role='button' onclick="lawyer_info(1)"><img
                        src="../static/img/main/law01_thum.jpg"/></a></div>
                <div class="thum"><a role='button' onclick="lawyer_info(2)"><img
                        src="../static/img/main/law02_thum.jpg"/></a></div>
                <div class="thum"><a role='button' onclick="lawyer_info(3)"><img
                        src="../static/img/main/law03_thum.jpg"/></a></div>
            </div>
        </div>
    </div>
</div>


<div class="section04">
    <div class="content">
        <p class="stit_w">로디언즈 서비스 문의하기</p>
        <h2 class="main2_w">안심성형 신청 전, 궁금한 점을 문의해보세요!<br/></h2>
        <p class="txt_w">궁금한 점을 직접 문의하시거나 아래의 FAQ를 참고하시면 됩니다</p>
        <div class="miainimg_bt"><a href="{{ url_for('main.contact') }}">서비스 문의하기</a></div>

    </div>
</div>-->

{% include '_footer.html' %}

<script type="text/javascript">
    function lawyer_info(num) {
        var json = {'lawyer': num};
        var ajax = $.ajax({
            url: "{{ url_for('main.lawyer_info') }}",
            type: "POST",
            dataType: "json",
            contentType: 'application/json',
            data: JSON.stringify(json)
        });
        ajax.done(function (data) {
            data = data.data;
            $('#lawyer_main').html(data);
        });
        ajax.fail(function (error) {
            alert('데이터 불러오기 실패: ' + error);
            console.log(error);
        });
    }


</script>