{% include '_header.html' %}
{% include '_navi.html' %}


<div class="sub_visual2">
	<p class="svisual_tit">로디언즈 <b>마이페이지</b></p>
	<p class="svisual_txt">내 정보를 관리하세요</p>
</div>


<div class="mypage">
	<div class="content">
	
		<div class="mypage_tab">
			<ul>
				<li><a href="{{ url_for('main.my_page_service') }}" class="on">안심 성형 서비스</a></li>
				<li><a href="{{ url_for('main.my_page_counsel') }}">안심 변호사 문의</a></li>
				<li><a href="{{ url_for('main.my_page_event') }}">안심 이벤트 신청</a></li>
				<li><a href="{{ url_for('main.my_page_auction') }}">역견적 신청 내역</a></li>
                <li><a href="{{ url_for('main.my_page_point') }}">포인트 관리</a></li>
				<li><a href="{{ url_for('main.my_page_profile') }}">정보 관리</a></li>
			</ul>
		</div>	
				
		<h3 class="bl01 black">안심 성형 서비스</h3>
		
		<table class="mypage_tbasic">
			<colgroup>
				<col width="10%">
				<col width="20%">
				<col width="20%">
				<col width="20%">
				<col width="20%">
				<col width="10%">
			</colgroup>
			<thead>
				<th>구분</th>
				<th>신청 부위</th>
				<th>신청일</th>
				<th>안심 병원</th>
				<th>안심 변호사</th>
				<th>상태</th>
			</thead>
			<tbody>
				{% for service in services %}
                    <tr>
                        <td>{{ service.id }}</td>
                        <td></td>
                        <td>{{ moment(service.timestamp).format('YYYY-MM-DD, h:mm a') }}</td>
                        <td>{{ service.hospital.name }}</td>
                        <td>{{ service.lawyer.name }}</td>
                        <td>
                            <a href="{{ url_for('main.my_page_service_detail', id=service.id) }}">
                                {% if service.is_claimed %}
                                    사고 접수
                                {% else %}
                                    정보확인
                                {% endif %}
                            </a>
                        </td>
                    </tr>
                {% endfor %}
			</tbody>
		</table>
		
		
	</div>
</div>
	
{% include '_footer.html' %}