{% include '_header.html' %}
{% include '_navi.html' %}


<div class="sub_visual2">
	<p class="svisual_tit">로디언즈 <b>마이페이지</b></p>
	<p class="svisual_txt">내 정보를 관리하세요</p>
</div>


<div class="mypage">
	<div class="content">
	
		<div class="mypage_tab">
			<ul>
				<li><a href="{{ url_for('main.my_page_service') }}">안심 성형 서비스</a></li>
				<li><a href="{{ url_for('main.my_page_counsel') }} ">안심 변호사 문의</a></li>
				<li><a href="{{ url_for('main.my_page_event') }}" class="on">안심 이벤트 신청</a></li>
				<li><a href="{{ url_for('main.my_page_auction') }}">역견적 신청 내역</a></li>
                <li><a href="{{ url_for('main.my_page_point') }}">포인트 관리</a></li>
				<li><a href="{{ url_for('main.my_page_profile') }}">정보 관리</a></li>
			</ul>
		</div>	
				
		<h3 class="bl01 black">안심 이벤트 문의</h3>
		
		<table class="mypage_tbasic">
			<colgroup>
				<col width="10%">
				<col width="26.6%">
				<col width="26.6%">
				<col width="26.6%">
				<col width="10%">
			</colgroup>
			<thead>
				<th>구분</th>
				<th>안심이벤트</th>
				<th>안심병원</th>
				<th>신청일</th>
				<th>상태</th>
			</thead>
			<tbody>
				{% for event in events %}
                    <tr>
                        <td>{{ event.id }}</td>
                        <td>{{ event.event.head }}</td>
                        <td>{{ event.hospital.name }}</td>
                        <td>{{ moment(event.timestamp).format('YYYY-MM-DD, h:mm a') }}</td>
                        <td></td>
                    </tr>
                {% endfor %}
			</tbody>
		</table>
		
		
	</div>
</div>
{% include '_footer.html' %}