{% include '_header.html' %}
{% include '_navi.html' %}

<div class="sub_visual">
	<p class="svisual_tit">로디언즈 <b>안심후기</b></p>
	<p class="svisual_txt">로디언즈를 통해 수술한 사람들의<br />안심 후기를 둘러볼 수 있습니다</p>
</div>

<div class="review_warp">
	<div class="content">
		<h3 class="bl01 black"><b>안심후기</b></h3>
		<p class="sub_txt">로디언즈에 등록된 안심후기들을 만나보세요</p>
		
		<div class="reviewbox_warp">
			<!-- 1 -->
			<div class="rbox">
				<a href="../static/sub/review_view.html">
					<div class="rbox_img"></div>
					<div class="txtbox">
						<p class="tit">신사엘성형외과</p>
						<p class="txt">너무너무 친절하고 꼼꼼한 신사엘성형 외과! 수술도 잘되고 또 관리나 원장님, 직원들의 서비스에 더 큰 감동을 받고 있는 중입니다. 제 눈이 너무 작고 깊어서 원장님이 고생 많이 하셨는데도~ 웃으며 다정하고 친절히 ...</p>
						<p class="date">2017.07.15&nbsp; by 김철수</p>
					</div>
				</a>
			</div>
			<div class="rbox">
				<a href="/sub/review_view.html">
					<div class="rbox_img"></div>
					<div class="txtbox">
						<p class="tit">신사엘성형외과</p>
						<p class="txt">너무너무 친절하고 꼼꼼한 신사엘성형 외과! 수술도 잘되고 또 관리나 원장님, 직원들의 서비스에 더 큰 감동을 받고 있는 중입니다. 제 눈이 너무 작고 깊어서 원장님이 고생 많이 하셨는데도~ 웃으며 다정하고 친절히 ...</p>
						<p class="date">2017.07.15&nbsp; by 김철수</p>
					</div>
				</a>
			</div>
			<div class="rbox">
				<a href="/sub/review_view.html">
					<div class="rbox_img"></div>
					<div class="txtbox">
						<p class="tit">신사엘성형외과</p>
						<p class="txt">너무너무 친절하고 꼼꼼한 신사엘성형 외과! 수술도 잘되고 또 관리나 원장님, 직원들의 서비스에 더 큰 감동을 받고 있는 중입니다. 제 눈이 너무 작고 깊어서 원장님이 고생 많이 하셨는데도~ 웃으며 다정하고 친절히 ...</p>
						<p class="date">2017.07.15&nbsp; by 김철수</p>
					</div>
				</a>
			</div>
			<div class="rbox">
				<a href="/sub/review_view.html">
					<div class="rbox_img"></div>
					<div class="txtbox">
						<p class="tit">신사엘성형외과</p>
						<p class="txt">너무너무 친절하고 꼼꼼한 신사엘성형 외과! 수술도 잘되고 또 관리나 원장님, 직원들의 서비스에 더 큰 감동을 받고 있는 중입니다. 제 눈이 너무 작고 깊어서 원장님이 고생 많이 하셨는데도~ 웃으며 다정하고 친절히 ...</p>
						<p class="date">2017.07.15&nbsp; by 김철수</p>
					</div>
				</a>
			</div>
			
			
			<!-- 2 -->
			<div class="rbox">
				<a href="/sub/review_view.html">
					<div class="rbox_img"></div>
					<div class="txtbox">
						<p class="tit">신사엘성형외과</p>
						<p class="txt">너무너무 친절하고 꼼꼼한 신사엘성형 외과! 수술도 잘되고 또 관리나 원장님, 직원들의 서비스에 더 큰 감동을 받고 있는 중입니다. 제 눈이 너무 작고 깊어서 원장님이 고생 많이 하셨는데도~ 웃으며 다정하고 친절히 ...</p>
						<p class="date">2017.07.15&nbsp; by 김철수</p>
					</div>
				</a>
			</div>
			<div class="rbox">
				<a href="/sub/review_view.html">
					<div class="rbox_img"></div>
					<div class="txtbox">
						<p class="tit">신사엘성형외과</p>
						<p class="txt">너무너무 친절하고 꼼꼼한 신사엘성형 외과! 수술도 잘되고 또 관리나 원장님, 직원들의 서비스에 더 큰 감동을 받고 있는 중입니다. 제 눈이 너무 작고 깊어서 원장님이 고생 많이 하셨는데도~ 웃으며 다정하고 친절히 ...</p>
						<p class="date">2017.07.15&nbsp; by 김철수</p>
					</div>
				</a>
			</div>
			<div class="rbox">
				<a href="/sub/review_view.html">
					<div class="rbox_img"></div>
					<div class="txtbox">
						<p class="tit">신사엘성형외과</p>
						<p class="txt">너무너무 친절하고 꼼꼼한 신사엘성형 외과! 수술도 잘되고 또 관리나 원장님, 직원들의 서비스에 더 큰 감동을 받고 있는 중입니다. 제 눈이 너무 작고 깊어서 원장님이 고생 많이 하셨는데도~ 웃으며 다정하고 친절히 ...</p>
						<p class="date">2017.07.15&nbsp; by 김철수</p>
					</div>
				</a>
			</div>
			<div class="rbox">
				<a href="/sub/review_view.html">
					<div class="rbox_img"></div>
					<div class="txtbox">
						<p class="tit">신사엘성형외과</p>
						<p class="txt">너무너무 친절하고 꼼꼼한 신사엘성형 외과! 수술도 잘되고 또 관리나 원장님, 직원들의 서비스에 더 큰 감동을 받고 있는 중입니다. 제 눈이 너무 작고 깊어서 원장님이 고생 많이 하셨는데도~ 웃으며 다정하고 친절히 ...</p>
						<p class="date">2017.07.15&nbsp; by 김철수</p>
					</div>
				</a>
			</div>
		</div>
		
		
		<!-- paging -->
		<div class="board_page">
			<span class="paging_comm"><span class="frist">First</span>
			<span class="prev">Previous</span>
			<b>1</b>
			<a href="">2</a>
			<a href="">3</a>
			<a href="">4</a>
			<a href="">5</a>
			<a href="">6</a>
			<a href="">7</a>
			<a href="">8</a>
			<a href="">9</a>
			<a class="next" href="" title="Next page">Next</a>
			<a class="last" href="" title="Next page">Next</a>
			</span>
		</div>
		
		
	</div>
</div>

{% include '_footer.html' %}