{% extends "base_profile.html" %}

{% block page_content %}
    <div class="page-header">
        <h1>안심 성형 서비스</h1>
    </div>
    <div>
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                <tr>
                    <th>구분</th>
                    <th>신청 부위</th>
                    <th>신청일</th>
                    <th>안심 병원</th>
                    <th>안심 변호사</th>
                    <th>상태</th>
                </tr>
                </thead>
                {% for service in services %}
                    <tr>
                        <td>{{ service.id }}</td>
                        <td></td>
                        <td>{{ moment(service.timestamp).format('YYYY-MM-DD, h:mm a') }}</td>
                        <td>{{ service.hospital.name }}</td>
                        <td>{{ service.lawyer.name }}</td>
                        <td>
                            <a href="{{ url_for('main.my_page_service_detail', id=service.id) }}">
                                {% if service.is_claimed %}
                                    사고 접수
                                {% else %}
                                    안전
                                {% endif %}
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}